


*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
html,body{
	height: 100%;
	width: 100%;
	font-family: Impact;
	background: #000;

}
a{
	text-decoration: none;
	color: white;
}
#splash{
	background: #000;
}
#calcomania{
	width: 75%;
	border: 8px solid #838996;
	border-radius: 40px;
	min-height: 390px;
	margin: 0 auto;
	margin-top: 10%;
}

#picCalco{
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-top: 20%;
}

#picCalco img{
	width: 100%;
}

#loadCalco{
	width: 13%;
	display: block;
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 5%;
}

#loadCalco img{
	width: 100%;
}

#tittleCalco{
	display: block;
	text-align: center;
	margin-top: 10%;
}
#tittleCalco span{
	font-size: 150%;
	color: #171717;

}

#Menu {
	width: 100%;
	font-size: 500%;
 	position: fixed;
	background: black;
 }

 #Menu nav ul li{
	list-style:none;
 	float: left;
	color: black;
	margin-top: 5%;
	margin-left: 18%;

  }

	#all{
		width: 100%;
		height: 200px;

		background: none;

	 }
	#content{
		width: 100%;
	}

	#five{
		background: black;
		color: white;
		width: 80%;
		margin-left: 10%;
		border: 2px solid #676666;
    border-radius: 25px;
		margin-bottom: 8%;
	}

	#four{
		background: black;
		color: white;
		width: 80%;
		margin-left: 10%;
		border: 2px solid #676666;
    border-radius: 25px;
		margin-bottom: 8%;
	}
	#portada{
		width: 40%;
		float: left;
		margin-left: 5%;
		margin-top: 10%;
	}
	#portada img{
		width: 100%;
	}
	#title span{
		font-size: 450%;
		margin-left: 15%;
		margin-top: 20%;
		width: 20%;
		float: left;
	}
	#ranking{
		width: 80%;
		margin-left: 5%;

	}

	#star{
		width: 40%;
		margin-left: 38%;
		margin-top: 10%;

	}
	#star img{
		width: 100%;
	}
	#rank span{
		font-size: 450%;
		margin-left: 55%;
		margin-top: 20%;
		width: 20%;

	}




@media screen and (min-width: 760px) {

body{
	background: #000;
}
#splash{
	background: #000;
}
#calcomania{
	width: 75%;
	border: 8px solid #838996;
	border-radius: 40px;
	min-height: 390px;
	margin: 0 auto;
	margin-top: 10%;
}

#picCalco{
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-top: 20%;
}

#picCalco img{
	width: 100%;
}

#loadCalco{
	width: 13%;
	display: block;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

#loadCalco img{
	width: 100%;
}

#tittleCalco{
	display: block;
	text-align: center;
	margin-top: 10%;
}
#tittleCalco span{
	font-size: 150%;
	color: #171717;

}
#Menu {

	width: 100%;
	background: black;
	font-size: 500%;

 }

 #Menu nav ul li{
	list-style:none;
 	float: left;
	color: white;
	margin-left: 18%;

  }

	#content{
		width: 100%;
	}
}

@media screen and (min-width: 1020px) {

body{
	background: #000;
}
#splash{
	background: #000;
}
#calcomania{
	width: 40%;
	border: 8px solid #838996;
	border-radius: 40px;
	min-height: 390px;
	margin: 0 auto;
	margin-top: 10%;
}

#picCalco{
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-top: 20%;
}

#picCalco img{
	width: 100%;
}

#loadCalco{
	width: 13%;
	display: block;
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 5%;
}

#loadCalco img{
	width: 100%;
}

#tittleCalco{
	display: block;
	text-align: center;
	margin-top: 10%;
}
#tittleCalco span{
	font-size: 150%;
	color: #171717;

}

#Menu {

	width: 100%;
	background: black;
	font-size: 500%;

 }

 #Menu nav ul li{
	list-style:none;
 	float: left;
	color: white;
	margin-left: 18%;

  }
	#content{
		width: 100%;
	}

}
